prometheus:
  global:
    scrape_interval: 30s
  server:
    persistentVolume:
      enabled: true
    scrape_configs:
      - job_name: 'prometheus'
        static_configs:
          - targets: ['localhost:9090']
      
      - job_name: 'node-exporter'  # Collects system metrics
        static_configs:
          - targets: ['node-exporter-service.monitoring.svc.cluster.local:9100']
      
      - job_name: 'cadvisor'  # Collects container metrics
        static_configs:
          - targets: ['cadvisor-service.monitoring.svc.cluster.local:8080']
      
      - job_name: 'kube-state-metrics'  # Collects Kubernetes object status
        static_configs:
          - targets: ['kube-state-metrics-service.monitoring.svc.cluster.local:8080']

grafana:
  adminUser: "newadmin"  # Updated username
  adminPassword: "NewStrongPassword123"  # Updated password
  service:
    type: LoadBalancer
  sidecar:
    alerts:
      enabled: false  # Explicitly set it to 'false' if you don't need alerts
